<%= form_for @conn, session_path(@conn, :create), [as: :session], fn f -> %>
  <div class="form-group">
    <%= text_input f, :phone_number, placeholder: "Phone number", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= password_input f, :password, placeholder: "Password", class: "form-control" %>
  </div>
  <div class="form-check">
    <%= checkbox f, :is_driver, class: "form-check-input", id: "driverCheck"%>
    <label class="form-check-label" for="driverCheck">&nbsp &nbsp &nbsp Login as driver</label>
	<br>
	<br>
  </div>
  <%= submit "Sign in", class: "btn btn-primary" %>
<% end %>