<div id="taxi-app">
  <div class="form-group">
    <label class="control-label col-sm-3" for="pickup_address">Pickup address:</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="pickup_address" v-model="pickup_address">
    </div>
  </div>

    <br><br>
    
  <div class="form-group">
    <label class="control-label col-sm-3" for="dropoff_address">Drop off address:</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="dropoff_address" v-model="dropoff_address">
    </div>
  </div>
      
     <br><br>
       
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button class="btn btn-default" v-on:click="submitBookingRequest">Submit</button>
    </div>
  </div>

  <input type="hidden" class="hidden" id="user_id" value=<%= @current_user.id %>>
</div>

<div class="d-none" id="info">
  <h3>Information about the ride:</h3>
  <b>Distance: </b><p id="distance">0</p>
  <b>Average time: </b><p id="time">0</p>
  <b>Price: </b><p id="price">0</p>
  <button class="btn btn-success"><%= link "Accept", to: order_path(@conn, :accept) %></button>
  <button class="btn btn-danger"><%= link "Cancel", to: order_path(@conn, :cancel) %></button>
</div>
<br><hr>

<div id="map" style="width:100%;height:400px">
  <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyAxtdd_es7dj_D_UgaOy5-drcnrF7nWWmE&libraries=places"></script>
</div>