<div class="container contact-form">
            <div class="contact-image">
                <img src="https://www.wpclipart.com/transportation/car/assorted/taxi.png" alt="taxi"/>
            </div>
  <%= form_for @changeset, apply_path(@conn, :create), fn f -> %>
  <h3>Become a taxi driver</h3>
    <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>There are some errors</p>
    </div>
    <% end %>
               <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                          <%= text_input f, :name, placeholder: "First Name", class: "form-control" %> <%= error_tag f, :name %>
                        </div>
						
                        <div class="form-group">
                          <%= text_input f, :email, placeholder: "Your Email", class: "form-control" %> <%= error_tag f, :email %>
                        </div>
						            <div class="form-group">
                          <%= text_input f, :licenseNum, placeholder: "Driving License Number", class: "form-control" %> <%= error_tag f, :licenseNum %>
                        </div>
                      
						            <div class="form-group">
                          <%= textarea f, :additionalInfo, placeholder: "Additional information", class: "form-control", style: "width: 100%; height: 80px;" %> <%= error_tag f, :additionalInfo %>
                        </div>
                        <div class="form-group">
                          <%= submit "Apply", class: "btnContact", name: "btnSubmit" %> 
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                          <%= text_input f, :lastName, placeholder: "Last Name", class: "form-control" %> <%= error_tag f, :lastName %> 
                        </div>
						            <div class="form-group">
                          <%= date_input f, :dateOfBirth, placeholder: "Date Of Birth", class: "form-control" %> <%= error_tag f, :dateOfBirth %>
                        </div>
						            <div class="form-group">
                          <%= text_input f, :licenseCat, placeholder: "Licence Category", class: "form-control" %> <%= error_tag f, :licenseCat %>
                        </div>
                        <div class="form-group">
                          <%= if Takso.RoleChecker.is_in_role?(@current_user, "Operator") do %>
                            <%= select f, :user_id, Enum.map(@users, &{&1.phone_number, &1.id}), class: "selectpicker", data: ["live-search": true]%>
                          <% else %>
                            <%= hidden_input f, :user_id, value: @current_user.id %>
                          <% end %>
                        </div>
                    </div>
                </div>
    <% end %>
</div>