/* This file is for your main application css. */
@import "bootstrap-select";
@import "bootstrap";

body, form, table {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .container {
    background-color: rgba(255, 255, 255, .5);
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .navbar-text{
    padding-right: 10px;
  }

  ul {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
  }
  
  /* Phoenix flash messages */
  .alert:empty { display: none; }
  
  /* Custom page header */
  .header {
    background-color: #000;
    border-bottom: 1px solid #e5e5e5;
  }
  .logo {
    background-color: #000;
    width: 275px;
    height: 50px;
    display: inline-block;
    margin-bottom: 1em;
    background-image: url("/images/StrelsauTaxi.png");
  }
  
  /* Everything but the jumbotron gets side spacing for mobile first views */
  .header,
  .marketing {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .container-narrow > hr {
    margin: 30px 0;
  }
  
  /* Main marketing message */
  .jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
  }
  
  /* Supporting marketing content */
  .marketing {
    margin: 35px 0;
  }
  
  /* Responsive: Portrait tablets and up */
  @media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing {
      padding-right: 0;
      padding-left: 0;
    }
    /* Space out the masthead */
    .header {
      margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
      border-bottom: 0;
    }
  }

.contact-form {
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}

    .contact-form .form-control {
        border-radius: 1rem;
    }

.contact-image {
    text-align: center;
}

    .contact-image img {
        width: 11%;
        margin-top: -3%;
    }

.contact-form form {
    padding: 14%;
}

    .contact-form form .row {
        margin-bottom: -7%;
    }

.contact-form h3 {
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}

.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.btnContactSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}
