</div>
<div class="container">
           <div class="row">
                    <div class="col-md-6">
                        <div>
                          <img src="http://www.arroyodrivingschool.com/img/adult-driving.png" alt="taksi" class="img-fluid">
                        </div>
						
                        
                    </div>
                    <div class="col-md-6">
                        <div >
                          <h1>Book taxi from our application</h1>
                        </div>
						
                    </div>
         </div>
</div>
</div>