<ul class="nav nav-tabs">
    <li class="nav-item"><%= link "Users", to: operator_path(@conn, :index), method: "get", class: "nav-link" %></li>
    <li class="nav-item"><%= link "Drivers", to: operator_path(@conn, :drivers), method: "get", class: "nav-link" %></li>
    <li class="nav-item"><%= link "Orders", to: operator_path(@conn, :orders), method: "get", class: "nav-link" %></li>
    <li class="nav-item dropdown">
      <%= link "Applications", to: "#", method: "get", class: "nav-link dropdown-toggle active", data: [toggle: "dropdown"] %>
      <div class="dropdown-menu">
        <%= link "Pending", to: "#pending", class: "dropdown-item active", data: [toggle: "tab"] %>
        <%= link "Accepted", to: "#accepted", class: "dropdown-item", data: [toggle: "tab"] %>
        <%= link "Rejected", to: "#rejected", class: "dropdown-item", data: [toggle: "tab"] %>
      </div>
    </li>
    <li class="nav-item"><%= link "Orders", to: apply_path(@conn, :new), method: "get", class: "nav-link" %></li>
</ul>

    <div class="tab-content">
        <div id="pending" class="tab-pane container active">
            <table class="table">
                <thead>
                    <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Birth date</th>
                    <th>License number</th>
                    <th>License Category</th>
                    <th>Additional info</th>
                    <th></th>
                    </tr>
                </thead>
                <tbody>
                    <%= for apply <- @pendings do %>
                        <tr>
                            <td><%= apply.name <> " " <> apply.lastName %></td>
                            <td><%= apply.email %></td>
                            <td><%= apply.dateOfBirth %></td>
                            <td><%= apply.licenseNum %></td>
                            <td><%= apply.licenseCat %></td>
                            <td><%= apply.additionalInfo %></td>
                            <td>
                                <div class="btn-group">
                                    <%= form_for @conn, "/apply/update", fn f -> %>
                                        <%= hidden_input f, :decision, value: "true" %>
                                        <%= hidden_input f, :id, value: apply.id %>
                                        <%= submit "Accept", class: "btn btn-success" %>
                                    <% end %>
                                    <%= form_for @conn, "/apply/update", fn f -> %>
                                        <%= hidden_input f, :decision, value: "false" %>
                                        <%= hidden_input f, :id, value: apply.id %>
                                        <%= submit "Reject", class: "btn btn-danger" %>
                                    <% end %>
                                </div>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <div id="accepted" class="tab-pane container fade">
            <table class="table">
                <thead>
                    <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Birth date</th>
                    <th>License number</th>
                    <th>License Category</th>
                    <th>Additional info</th>
                    </tr>
                </thead>
                <tbody>
                    <%= for applya <- @accepted do %>
                        <tr>
                            <td><%= applya.name <> " " <> applya.lastName %></td>
                            <td><%= applya.email %></td>
                            <td><%= applya.dateOfBirth %></td>
                            <td><%= applya.licenseNum %></td>
                            <td><%= applya.licenseCat %></td>
                            <td><%= applya.additionalInfo %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <div id="rejected" class="tab-pane container fade">
            <table class="table">
                <thead>
                    <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Birth date</th>
                    <th>License number</th>
                    <th>License Category</th>
                    <th>Additional info</th>
                    </tr>
                </thead>
                <tbody>
                    <%= for apply <- @rejected do %>
                        <tr>
                            <td><%= apply.name <> " " <> apply.lastName %></td>
                            <td><%= apply.email %></td>
                            <td><%= apply.dateOfBirth %></td>
                            <td><%= apply.licenseNum %></td>
                            <td><%= apply.licenseCat %></td>
                            <td><%= apply.additionalInfo %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>