<ul class="nav nav-tabs">
    <li class="nav-item"><%= link "Users", to: operator_path(@conn, :index), method: "get", class: "nav-link" %></li>
    <li class="nav-item"><%= link "Drivers", to: operator_path(@conn, :drivers), method: "get", class: "nav-link active" %></li>
    <li class="nav-item"><%= link "Orders", to: operator_path(@conn, :orders), method: "get", class: "nav-link" %></li>
    <li class="nav-item dropdown">
      <%= link "Applications", to: "#", method: "get", class: "nav-link dropdown-toggle", data: [toggle: "dropdown"] %>
      <div class="dropdown-menu">
        <%= link "Pending", to: "#{operator_path(@conn, :applications)}#pending", method: "get", class: "dropdown-item" %>
        <%= link "Accepted", to: "#{operator_path(@conn, :applications)}#accepted", method: "get", class: "dropdown-item" %>
        <%= link "Rejected", to: "#{operator_path(@conn, :applications)}#rejected", method: "get", class: "dropdown-item" %>
      </div>
    </li>
</ul>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Password</th>
      <th>Phone number</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= for driver <- @drivers do %>
        <tr>
          <td><%= driver.name %></td>
          <td><%= driver.password %></td>
          <td><%= driver.phone_number %></td>
          <td><%= link "Edit info", to: operator_path(@conn, :edit, driver.id), method: "get", class: "btn btn-primary"%></td>
        </tr>
    <% end %>
  </tbody>
</table>