<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Names</th>
                <th>Emails</th>
                <th>License nums</th>
            </tr>
        </thead>

        <tbody>
            <%= for apply <- @applies do %>
                <tr>
                    <td><%= apply.name <> " " <> apply.lastName %></td>
                    <td><%= apply.email %></td>
                    <td><%= apply.licenseNum %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>

<div class="container">
    <%= form_for @changeset, operator_path(@conn, :update, @info), fn f -> %>
            
        <div class="form-group">
            <%= text_input f, :car, placeholder: "Car info", class: "form-control" %>
        </div>
                        
        <div class="form-group">
            <%= textarea f, :additional_info, placeholder: "Additional information", class: "form-control"%>
        </div>

        <div class="form-group">
            <%= submit "Submit", class: "btn btn-primary", name: "btnSubmit" %>                 
        </div>
    <% end %>
</div>