<h1>Orders history</h1>

<table class="table">
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
    </tr>
  </thead>
  <tbody>
<%= for order <- @orders do %>
    <tr>
      <td><%= order.pickup_address %></td>
      <td><%= order.dropoff_address %></td>
    </tr>
<% end %>
  </tbody>
</table>
