<h1>Orders</h1>

<table class="table">
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for order <- @orders do %>
    <tr>
      <td><%= order.pickup_address %></td>
      <td><%= order.dropoff_address %></td>
      <td>
          <%= form_for @conn, "/taxi/action", fn f -> %>
              <%= hidden_input f, :action, value: "accept" %>
              <%= hidden_input f, :id, value: order.id %>
              <%= submit "Accept", class: "btn btn-success" %>
          <% end %>
      </td>
      <td>
        <%= form_for @conn, "/taxi/action", fn f -> %>
            <%= hidden_input f, :action, value: "reject" %>
            <%= hidden_input f, :id, value: order.id %>
            <%= submit "Reject", class: "btn btn-danger" %>
        <% end %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
