<h3>Information about the ride</h3>
<p><b><%= @order.pickup_address %> → <%= @order.dropoff_address %></b><br>
<b>Your driver: </b><%= @driver.name%> (<%= @taxi_info.car%>), <b>average score: </b><%= @taxi_info.rating_score%></p>
<div id="directions-panel"></div>
<div id="map" style="height:400px"></div>
<div id="right-panel">
<div>
</div>
<script>
  function initMap() {
    var directionsService = new google.maps.DirectionsService;
    var directionsDisplay = new google.maps.DirectionsRenderer;
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 6,
      center: {lat: -34.397, lng: 150.644},
      disableDefaultUI: true,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        map.setCenter(pos);
    });
    directionsDisplay.setMap(map);
    calculateAndDisplayRoute(directionsService, directionsDisplay);
    var taxiPos = {
      lat: <%= @taxi_info.lat %>,
      lng: <%= @taxi_info.lng %>
    };
    taxiMarker = new google.maps.Marker({position: taxiPos, map: map, title: "Taxi"});
    taxiMarker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png');
  }

  function calculateAndDisplayRoute(directionsService, directionsDisplay) {
    let origin_loc = {lat: <%= @order.pickup_lat %>, lng: <%= @order.pickup_lng %>};
    let destination_loc = {lat: <%= @order.dropoff_lat %>, lng:  <%= @order.dropoff_lng %>};
    directionsService.route({
      origin: origin_loc,
      destination: destination_loc,
      optimizeWaypoints: true,
      travelMode: 'DRIVING'
    }, function(response, status) {
      if (status === 'OK') {
        directionsDisplay.setDirections(response);
        var route = response.routes[0];
        var summaryPanel = document.getElementById('directions-panel');
        summaryPanel.innerHTML = "<b>Distance: </b>" + route.legs[0].distance.text +
        "<br><b> Time: </b>" + route.legs[0].duration.text + 
        "<br><b> Price: </b>" +
        (2.80 + 0.65 * (route.legs[0].distance.value / 1000)).toFixed(2) + "€<br><br>";
      } else {
        window.alert('Directions request failed due to ' + status);
      }
    });
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxtdd_es7dj_D_UgaOy5-drcnrF7nWWmE&callback=initMap">
</script>
